{% extends 'base.html' %}
{% load static %}
{% block title %}business solutions{% endblock %}
{%  block content %}


<div class="business-header">
    <div class="container-fluid py-3" style="padding-top: 70%;">

    <div class="col-lg-12 py-2">
        <div class="bg-white p-5 my-5">
            <h2 class="text-center mb-4">Business Solutions</h2>
            <div class="display-5" id="business" >
                <p>
                    A business solution is a combination of ideas used to help a company achieve its objectives.
                    Some relevant solutions include technology evaluation, strategic planning and the synthesis of complex business information.
                    Our Business solutions are carried out through different strategies and tools. We offer services that
                    are tailored towards the growth of businesses, including large scale, medium scale, and small scale. Send a message now. We will build your business.
                </p>
            </div>
        </div>
        
    </div>

    <div class="col-lg-12 py-2">
        <div class="bg-white my-0 flex-row">
            <h2 class="text-center mb-2">Services</h2>
            
        </div>
    </div>
</div>

    <div class="btoggle-btn" onclick="myfunction();">
        <span></span>
        <span></span>
        <span></span>
    </div>



<div class="business-body">
    <div class="container align-items-center" 
        style="height: 200px; margin-bottom: 20px; ">
    <div class="row d-flex flex-row" style="width: 40%; align-items: center;">
        <div class="bg-primary d-flex flex-row justify-content-center px-5" style="height: 200px; margin-bottom: 20px;">
            
            <a href="#contact" onclick="web_enquiry();">
                <div class="flex-column align-items-center mb-5 mt-5" 
                style="margin-right: 70px; border: 0px solid black; text-align: center; align-items: center;">
                    <div class="btn-icon bg-white mr-1">
                        <i class="fa fa-2x fa-desktop text-secondary"></i>
                    </div>
                    <div class="mt-2">
                        <h5 id="value1">Website</h5>
                    </div>
                </div>
            </a>

            <a href="#contact" onclick="mobile_enquiry();">
                <div class="flex-column align-items-center mb-5 mt-5" 
            style="margin-right: 70px; border: 0px solid black; text-align: center; align-items: center;">
                <div class="btn-icon bg-white mr-4 ml-3">
                    <i class="fa fa-2x fa-mobile text-secondary"></i>
                </div>
                <div class="mt-2">
                    <h5 id="value2">Mobile app</h5>
                </div>
            </div>
            </a>

            <a href="#contact" onclick="data_enquiry();">
                <div class="flex-column align-items-center mb-5 mt-5" style="margin-right: 80px;
            border: 0px solid black; text-align: center; align-items: center;">
                <div class="btn-icon bg-white mr-4 ml-3">
                    <i class="fa fa-2x fa-chart-line text-secondary"></i>
                </div>
                <div class="mt-2">
                    <h5 id="value3">Data Solutions</h5>
                </div>
            </div>
            </a>

            <a href="#contact" onclick="seo_enquiry();">
                <div class="flex-column align-items-center mb-5 mt-5" 
            style="margin-right: 80px; border: 0px solid black; text-align: center; align-items: center;">
                <div class="btn-icon bg-white mr-2">
                    <i class="fa fa-2x fa-search text-secondary"></i>
                </div>
                <div class="mt-2 ">
                    <h5 id="value4">SEO</h5>
                </div>
            </div>
            </a>

            <a href="#contact" onclick="staff_enquiry();">
                <div class="flex-column align-items-center mb-5 mt-5" 
            style=" border: 0px solid black; text-align: center; align-items: center;">
                <div class="btn-icon bg-white mr-4 ml-3">
                    <i class="fa fa-2x fa-chalkboard-teacher text-secondary"></i>
                </div>
                <div class="mt-2">
                    <h5 id="value5">Staff Training</h5>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
</div>

<!--Mobile Services-->
<div class="business-mobile" id="bus-body" style="max-width: 100%;">
    <div class="container align-items-center bg-white">
    <div class="column d-flex flex-column">
        <div class="bg-light d-flex flex-row justify-content-center px-5 pt-5" style="width: 100%;">

        <a href="#contact" onclick="web_enquiry();">
            <div class="flex-column align-items-center mb-5 p-3 mr-1 ml-4" style="border: 0px solid black; text-align: center; align-items: center;">
                
                <div class="btn-icon bg-white ">
                    <i class="fa fa-2x fa-desktop text-black"></i>
                </div>
                <div class="mt-2">
                    <h5 style="font-size: 16px;" id="value1">Website</h5>
                </div>
            </div>
        </a>

            <a href="#contact" onclick="mobile_enquiry();">
                <div class="flex-column align-items-center mb-5 p-3 ml-4" style="border: 0px solid black; text-align: center; align-items: center;">
                    <div class="btn-icon bg-white mr-4 ml-3">
                        <i class="fa fa-2x fa-mobile text-black"></i>
                    </div>
                    <div class="mt-2">
                        <h5 style="font-size: 16px;" id="value2">Mobile app</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="bg-light d-flex flex-row justify-content-center px-" style="width: 100%;">

            <a href="#contact" onclick="data_enquiry();">
                <div class="flex-column align-items-center mb-5 p-3 mr-4" style="border: 0px solid black; text-align: center; align-items: center;">
                    <div class="btn-icon bg-white">
                        <i class="fa fa-2x fa-chart-line text-black"></i>
                    </div>
                    <div class="mt-2 ml-0">
                        <h5 style="font-size: 16px;" id="value3">Data Solutions</h5>
                    </div>
                </div>
            </a>

            <a href="#contact" onclick="seo_enquiry();">
                <div class="flex-column align-items-center mb-5 p-3" style="border: 0px solid black; text-align: center; align-items: center;">
                    <div class="btn-icon bg-white">
                        <i class="fa fa-2x fa-search text-black"></i>
                    </div>
                    <div class="mt-2 ">
                        <h5 style="font-size: 16px;" id="value4">SEO</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="bg-light d-flex flex-row justify-content-center px-3" style="width: 100%;">

            <a href="#contact" onclick="staff_enquiry();">
                <div class="flex-column align-items-center mb-5 mr-3 p-3" style="border: 0px solid rgb(236, 230, 230); text-align: center; align-items: center;">
                    <div class="btn-icon bg-white">
                        <i class="fa fa-2x fa-chalkboard-teacher text-black"></i>
                    </div>
                    <div class="mt-2">
                        <h5 style="font-size: 16px;" id="value5">Staff Training</h5>
                    </div>
                </div>
            </a>
<!--
            <div class="flex-column align-items-center mb-5 p-2" style="border: 0px solid black; text-align: center; align-items: center;">
                <div class="btn-icon bg-white mr-4 ml-4">
                    <i class="fa fa-2x fa-chalkboard-teacher text-black"></i>
                </div>
                <div class="mt-2">
                    <h5 style="font-size: 16px;">School Training</h5>
                </div>
            </div>
-->
            
        </div>
    </div>
</div>
</div>


<!--end mobile services-->







  <!--

      <div class="container py-2">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 500px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-white mr-4">
                            <i class="fa fa-2x fa-desktop text-black"></i>
                        </div>

                        <div class="">
                            <h5>Website</h5>
                        </div>
                        
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-white mr-4">
                            <i class="fa fa-2x fa-mobile text-black"></i>
                        </div>
                        <div class="">
                            <h5>Mobile app</h5>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="btn-icon bg-white mr-4">
                            <i class="fa fa-2x fa-chart-line text-black"></i>
                        </div>
                        <div class="">
                            <h5>Data analysis</h5>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-5">
                        <div class="btn-icon bg-white mr-4">
                            <i class="fa fa-2x fa-chalkboard-teacher text-black"></i>
                        </div>
                        <div class="">
                            <h5>Staff Training</h5>
                        </div>
                    </div>
                </div>
            </div>
  -->







  <!--

    
  -->

  <div class="business-contact" id="contact">

    <div class="container py-2">
        <div class="row align-items-center">
    
                <div class="col-lg-10">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h6>
                        <h2 class="display-5" >Send Us A Message</h2>
                    </div>
                    <div class="contact-form">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" name = "name" placeholder="Name" required="required">
                                </div>

                                <div class="col-4 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" name = "phone" placeholder="Phone Number" required="required">
                                </div>

                                <div class="col-6 form-group">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" name = "email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="subject" class="form-control border-top-0 border-right-0 border-left-0 p-0" name = "subject" placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" name="message" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

  </div>


  
<script>
    function myfunction(){
        navbar = document.getElementById('bus-body');
        navbar.classList.toggle("show")
    }

    function web_enquiry(){
        const name = document.getElementById("value1").innerHTML
        document.getElementById("subject").setAttribute('value', name) 
    }

    function mobile_enquiry(){
        const name = document.getElementById("value2").innerHTML
        document.getElementById("subject").setAttribute('value', name) 
    }

    function data_enquiry(){
        const name = document.getElementById("value3").innerHTML
        document.getElementById("subject").setAttribute('value', name) 
    }

    function seo_enquiry(){
        const name = document.getElementById("value4").innerHTML
        document.getElementById("subject").setAttribute('value', name) 
    }

    function staff_enquiry(){
        const name = document.getElementById("value5").innerHTML
        document.getElementById("subject").setAttribute('value', name) 
    }
</script>

{%  endblock %}
