
{% extends 'base.html' %}
{% load static %}
{% block title %}django info{% endblock %}
{%  block content %}


<main id="main-doc">

    <div class="toggle-btn" onclick="myfunction();">
        <span></span>
        <span></span>
        <span></span>
    </div>
<nav id="navbar" class="bg-primary">

  <ul >
    <li><a href="#introduction" class="nav-link"  onclick="viewIntro()">About</a></li>
    <li><a href="#schedule" class="nav-link" onclick="viewSchedule()">Schedule</a></li>
    <li><a href="#payment" class="nav-link" onclick="viewPayment()">Cost and Payment Plans</a></li>

    <li>
        <div class="mx-auto mb-5 mt-5" style="width: 70%; max-width: 600px;">
            <a href="#register" onclick="courseFunction();" class="btn btn-secondary py-3 d-lg-block"
             style="font-size:20px; color: white;">signup now</a>
        </div>
    </li>

  </ul>
</nav>
<section id="main-body">
  <section class="main-section" id="introduction" style="display: show;">
      <header>
	  <h2>Python for Web</h2>
	  </header>
	  <article>
        <p>
            Python is one of the very popular languages used in building web applications. 
            Python has different frameworks which includes 
            bottle.py, Flask, CherryPy, Pyramid, Django and web2py. 
            These frameworks are been used to develop some of the most widely used apps in the world today. 
            Systems like Spotify, Mozilla, Reddit, Netflix and so on are built with python framework.
        </p>
        <h4>What will you achieve at the end of the training?</h4>
        <ul>
            <li>Test Driven Application Development</li>
            <li>Integrating back-end code with front-end frameworks</li>
            <li>Deploying Python Web Application</li>
            <li>Git and Github</li>
            <li>Containerizing web applications</li>
            <li>Authentications</li>
        </ul>
        <p>.</p>
	  </article>
  </section>
  
  <section class="main-section" id="schedule" style= 'display:none'>
  <header>
	  <h2>Course Duration and Plans</h2>
	</header>
        <article>
            <p>
                This course is scheduled for a period of 3 months. Students are required to have their
                computer systems in shape and a good internet conection.  
            </p>
        
            <p>
                Lecture days are at your own discretion. Lecture holds 3 times in a week.
            </p>
	
	  </article>
  </section>

  <section class="main-section" id="payment" style= 'display:none'>
        <header>
	        <h2>Cost and Payment</h2>
	  </header>
	  <article>
            <p>
                50% payment is expected to be made before the start of training while the balance is expected to be 
                completed after 6 weeks of the start of the program.
            </p>
        <p>You are sure to get the best price here. This cost at the time of signup will be communicated via email on signup.</p>
        <p class="bonus">We have a bonus of 30% off on all our courses for students who refer us.</p>
	  </article>
  </section>

  </section>
</main>



<div class="row justify-content-center bg-image mx-0 mb-5" id="register" style="margin-top: 70px;">
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4">Lets get you started</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        
                        <div class="form-group">
                            <input type="text" class="form-control bg-light border-0" name = "name" placeholder="Your Name" style="padding: 30px 20px;">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="email" class="form-control bg-light border-0" name = "email" placeholder="Your Email" style="padding: 30px 20px;">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="custom-select bg-light border-0 px-3" name = "course" id="courseid" style="height: 60px;">
                                <option selected >Select a course</option>
                                <option value="Python">Python</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Data Analysis">Data Analysis</option>
                                <option value="HTML/CSS">HTML/CSS</option>
                                <option value="Reactjs">Reactjs</option>
                                <option value="Python Web">Python Web</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Sign Up Now</button>
                    </div>
                </div>

                <div>
                    {%  if form.errors  %}
                    {% for error in form.errors.as_data.values %}
                        {% for data in error.0 %}
                            <h6 style="color: red;">{{ data }}</h6>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </div>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </form>
        </div>
    </div>
</div>


<script>
    function viewIntro() { 
        document.getElementById('introduction').setAttribute('style', 'display:show'); 
        document.getElementById('schedule').setAttribute('style', 'display:none'); 
        document.getElementById('payment').setAttribute('style', 'display:none'); 

        $(document).ready(function(){
            $(this).scrollTop(0);
        });
    }  

    function viewSchedule() { 
        document.getElementById('schedule').setAttribute('style', 'display:show'); 
        document.getElementById('payment').setAttribute('style', 'display:none'); 
        document.getElementById('introduction').setAttribute('style', 'display:none'); 

        $(document).ready(function(){
            $(this).scrollTop(0);
        });
    }  

    function viewPayment() { 
        document.getElementById('payment').setAttribute('style', 'display:show'); 
        document.getElementById('schedule').setAttribute('style', 'display:none'); 
        document.getElementById('introduction').setAttribute('style', 'display:none'); 

        $(document).ready(function(){
            $(this).scrollTop(0);
        });
    }  

    function myfunction(){
        navbar = document.getElementById('navbar');
        navbar.classList.toggle("show")

    }

    function courseFunction(){
       
        document.getElementById("courseid").selectedIndex = "6";
    }

    

</script>

{%  endblock %}
