{% extends 'base.html' %}
{% load static %}

{% block content %}
   
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 10px;">
    <div class="owl-carousel team-carousel">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4" style="padding-top:70px;">Learn From Anywhere</h1>
            <h1 class="text-white display-1 mb-5">IT Courses</h1>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Courses 1</a>
                            <a class="dropdown-item" href="#">Courses 2</a>
                            <a class="dropdown-item" href="#">Courses 3</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4"  style="padding-top:70px;">Business Website and Mobile app</h1>
            <h1 class="text-white display-3 mb-5">LETS BUILD FOR YOU</h1>
            <div class="mx-auto mb-5" style="width: 20%; max-width: 600px;">
                <a href="#register" class="btn btn-secondary py-3 px-4 d-none d-lg-block" style="font-size:20px">Talk to Us</a>
            </div>
        </div>

    </div>
</div>
    <!-- Header End -->


    <!-- About Start 
    <div class="container-fluid py-3" id="aboutus" style="width: 100%;">
        <div class="container py-2">
            <div class="row" style="padding-left: 60px;">
                
                <div class="col-lg-11">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h6>
                        <h1 class="display-5" style="text-align: center;">Enhancing major transformations in the Tech Industry since 2020</h1>
                    </div>
                    <p style="text-align: justify;"><strong>PremiereLead Tech Consult</strong> is an innovation and consulting company that offers one of the very best 
                    services in the world of tech. Our growth has been phenomenal. We have developed and provided numerous solutions
                ranging from web applications to artificial intelligence which includes machine learning projects. 
            We have also consulted for SMEs and large scale businesses. Our training program is very much up to the industry standard as we deliver
         the best content with great and consistent strategies that helps each student learn quickly and grasp every concept.  </p>

         <p style="text-align: justify;">
            Our intention is to transform the world of technology. Create a world of possibilities
            and solve problems even as we raise problem solvers. We have a team that is ready to work until we see a better world, 
            a world where every problem has a solution and every solution needed has a multitude that can provide them. 

            <p><strong>Technology is for all, and we have made it our priority and a point of duty to take it to everyone.</strong></p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-white text-center p-4">
                                <h1 class="text-dark" data-toggle="counter-up">10</h1>
                                <h6 class="text-uppercase text-dark">Businesses<span class="d-block">Built</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-white text-center p-4">
                                <h1 class="text-dark" data-toggle="counter-up">6</h1>
                                <h6 class="text-uppercase text-dark">Online<span class="d-block">Courses</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-white text-center p-4">
                                <h1 class="text-dark" data-toggle="counter-up">5</h1>
                                <h6 class="text-uppercase text-dark">Skilled<span class="d-block">Instructors</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-white text-center p-4">
                                <h1 class="text-dark" data-toggle="counter-up">102</h1>
                                <h6 class="text-uppercase text-dark">Happy<span class="d-block">Clients</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-white" style="margin: 40px 0; min-width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-3 pt-2 pb-lg-5" style="padding-left:40px;">
                    <div class="section-title position-relative mb-4 mr-0">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h6>

                        <h1 >it all begins here...</h1>
                        
                    </div>
                    <p class="mb-4 pb-2 mr-5" style="text-align: justify; font-size:18px; color:black; 
                    ">We are a leading data, software development and training consulting agency. We develop and provide solutions
                    ranging from web and mobile applications to artificial intelligence. We consult for SMEs and large scale businesses. 
                    Our training program is industry standard as we deliver relevant and practical contents with great and consistent strategies that helps each student learn quickly and grasp every concept.</p>
                    
                    <p class="mb-4 pb-2 mr-5"  style="text-align: justify; font-size:18px; color:black; 
                   ">
                        Our intention is to transform the world of technology. Create a world of possibilities
                        and solve problems even as we raise problem solvers. We have a team that is ready to work until we see a better world, 
                        a world where every problem has a solution and every solution needed has a multitude that can provide them. 
            
                        <p class="mb-4 pb-2 mr-5" style="text-align: justify; font-size:18px; color:black;
                        ">Technology is for all, and we have made it our priority and a point of duty to take it to everyone.</p>
                    

                </div>
            
                <div class="col-lg-5" style="min-height: 700px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
           
            </div>
        </div>
    </div>

    <!-- Feature Start -->


    <!-- Courses Start -->

    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
        
                    <h1 class="display-4">Our Services</h1>
                </div>
            </div>
        </div>
        <div class="home-services" style="display:flex; align-items: center; max-width: 100%; margin-bottom:5% ;">
            
            <div class="service-item">
                <div class="courses-item position-relative">
                    <img class="img-fluid" src="{% static 'img/webmobile.jpg' %}" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">Web & Mobile Apps</h4>
                        
                        <div class="w-100 bg-white text-center p-4" >
                            <a class="btn btn-primary" href="{% url 'business' %}">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-item">
                <div class="courses-item position-relative">
                    <img class="img-fluid" src="{% static 'img/business-so.jpg' %}" alt="" >
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">Data & Machine Learning</h4>
                     
                        <div class="w-100 bg-white text-center p-4" >
                            <a class="btn btn-primary" href="{% url 'business' %}">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service-item" >
                <div class="courses-item position-relative">
                    <img class="img-fluid" src="{% static 'img/training.jpg' %}" alt="" >
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">Training</h4>
                     
                        <div class="w-100 bg-white text-center p-4" >
                            <a class="btn btn-primary" href="{% url 'signup' %}">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Courses End -->


    <!-- Team Start 
        
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructors</h6>
                <h1 class="display-4">Meet Our Instructors</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-1.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="img/team-4.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid  py-5" style="margin: 90px 0; background-color:black" id="testimonial">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2"></h6>
                        <h2 class="display-4 text-white">Client's Review</h1>
                    </div>
                    <p class="m-0" style="color: gray">We are glad to share with you some messages from our clients that we have consulted for and students that has passed through our training.</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-black p-5">
                            <i class="fa fa-3x fa-quote-left mb-4" style="color: gray"></i>
                            <p style="color: gray">Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                                <div>
                                    <h5 class="text-white">Student Name</h5>
                                    <span class="text-white">Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-black p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4" style="color: gray"></i>
                            <p style="color: gray">Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                                <div>
                                    <h5 class="text-white">Student Name</h5>
                                    <span class="text-white">Web Design</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="stat">
                        <div class="row pt-3 mx-0">
                            <div class="col-3 px-0">
                                <div class="bg-black text-center pr-3 p-2 pl-0">
                                    <h1 class="text-secondary" data-toggle="counter-up">10</h1>
                                    <h6 class="" style="color: white; font-size:11px">Businesses<span class="d-block">Built</span></h6>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <div class="bg-black text-center p-2 pr-4">
                                    <h1 class="text-secondary" data-toggle="counter-up">6</h1>
                                    <h6 class=""style="color: white; font-size:11px">Online<span class="d-block">Courses</span></h6>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <div class="bg-black text-center p-2 pr-4">
                                    <h1 class="text-secondary" data-toggle="counter-up">5</h1>
                                    <h6 class="" style="color: white; font-size:11px">Skilled<span class="d-block">Instructors</span></h6>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <div class="bg-black text-center p-2">
                                    <h1 class="text-secondary" data-toggle="counter-up">102</h1>
                                    <h6 class=""style="color: white; font-size:11px">Happy<span class="d-block">Clients</span></h6>
                                </div>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Contact Start -->
    <div class="container-fluid py-2 wow fadeInUp" data-wow-delay="0.1s" style="margin-top:50px;" id="section_3">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contact Us</h5>
                <h1 class="display-5 mb-0">Feel Free To Contact Us</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                    <div class="bg-light rounded p-5">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 pb-4">
                                    <input type="text" class="form-control border-0 px-4" placeholder="Name" name="name" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <input type="email" class="form-control border-0 px-4" placeholder="Email" name="email" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <input type="phone" class="form-control border-0 px-4" placeholder="Phone" name="phone" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <input type="text" class="form-control border-0 px-4" placeholder="Subject" name="subject" style="height: 55px;" required>
                                </div>
                                <div class="col-12 pb-4">
                                    <textarea class="form-control border-0 px-4 py-3" rows="8" placeholder="Message" name="message" required></textarea>
                                </div>
                                <div class="col-12 ">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
      <!--contact ends -->  
    

    <!-- Footer Start -->
  
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
    
    
    
{% endblock %}
